management:
  endpoints:
    web:
      exposure:
        include: [ "health", "info", "prometheus" ]

  metrics:
    distribution.slo:
      http.server.requests: 25,100,250,500,1000,10000
      http.client.requests: 25,100,250,500,1000,10000
      fetchPseudonymsForTransportIds: 5,10,25,100,250,500,1000,5000,10000
      replaceIDs: 25,100,250,500,1000,10000
      sendBundleToHds: 25,50,100,250,500,1000,2000,5000,10000

security:
  endpoints:
  - path: /api/v2/**
    role: cd-agent
