name: fts-monitoring

services:
  prometheus:
    image: prom/prometheus:v3.7.3@sha256:49214755b6153f90a597adcbff0252cc61069f8ab69ce8411285cd4a560e8038
    volumes:
    - ./prometheus.yml:/prometheus.yml
    command:
    - --enable-feature=native-histograms
    - --config.file=/prometheus.yml
    networks: [ "monitoring", "clinical-domain", "research-domain", "trust-center" ]
    ports:
    - :9090

  grafana:
    image: grafana/grafana:12.2.1@sha256:35c41e0fd0295f5d0ee5db7e780cf33506abfaf47686196f825364889dee878b
    volumes:
    - ./grafana/datasources.yaml:/etc/grafana/provisioning/datasources/grafana-datasources.yaml
    - ./grafana/dashboards.yaml:/etc/grafana/provisioning/dashboards/grafana-dashboards.yaml
    - ./grafana/dashboards:/etc/grafana/dashboards
    - ./grafana/grafana.ini:/etc/grafana/grafana.ini
    ports:
    - 42128:3000
    networks: [ "monitoring" ]
networks:
  monitoring:
  clinical-domain:
    external: true
    name: fts-test_clinical-domain
  research-domain:
    external: true
    name: fts-test_research-domain
  trust-center:
    external: true
    name: fts-test_trust-center
