name: fts-monitoring

services:
  prometheus:
    image: prom/prometheus:v3.9.1@sha256:1f0f50f06acaceb0f5670d2c8a658a599affe7b0d8e78b898c1035653849a702
    volumes:
    - ./prometheus.yml:/prometheus.yml
    command:
    - --enable-feature=native-histograms
    - --config.file=/prometheus.yml
    networks: [ "monitoring", "clinical-domain", "research-domain", "trust-center" ]
    ports:
    - :9090

  grafana:
    image: grafana/grafana:12.3.3@sha256:9e1e77ade304069aee3196e9a4f210830e96e80ce9a2640891eccc324b152faf
    volumes:
    - ./grafana/datasources.yaml:/etc/grafana/provisioning/datasources/grafana-datasources.yaml
    - ./grafana/dashboards.yaml:/etc/grafana/provisioning/dashboards/grafana-dashboards.yaml
    - ./grafana/dashboards:/etc/grafana/dashboards
    - ./grafana/grafana.ini:/etc/grafana/grafana.ini
    ports:
    - 42128:3000
    networks: [ "monitoring" ]
networks:
  monitoring:
  clinical-domain:
    external: true
    name: fts-test_clinical-domain
  research-domain:
    external: true
    name: fts-test_research-domain
  trust-center:
    external: true
    name: fts-test_trust-center
