security:
  auth:
    basic:
      users:
      - username: cd-agent
        password: "{bcrypt}$2a$10$kUT57nDMEPtigO3BtsD/UeQMLsBDsOwu4iFVAEcgucPbD1zGaHI5y"
        # password: "{noop}bdfXkmQQIQLEkvVq"
        role: cd-agent

test:
  webclient:
    default:
      auth:
        basic:
          user: cd-agent
          password: bdfXkmQQIQLEkvVq
