name: Publish Release

on:
  release:
    types: [ released ]

# Declare default permissions as read only.
permissions: read-all

jobs:
  pages:
    runs-on: ubuntu-24.04
    permissions:
      actions: write
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - name: Trigger Pages Build
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: gh workflow run Pages --ref main --repo ${{ github.repository }}
