name: Publish Release

on:
  release:
    types: [ released ]

# Declare default permissions as read only.
permissions: read-all

jobs:
  pages:
    runs-on: ubuntu-24.04
    permissions:
      actions: write
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
      with:
        egress-policy: audit

    - name: Trigger Pages Build
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: gh workflow run Pages --ref main --repo ${{ github.repository }}
